APP_ENV
APP_SECRET
APP_FRONTEND_URL
CORS_ALLOW_ORIGIN
DEFAULT_URI
JWT_PASSPHRASE
JWT_PUBLIC_KEY
JWT_SECRET_KEY
JWT_TOKEN_TTL
MAILER_DSN
CONTACT_RECIPIENT_EMAIL
CONTACT_SENDER_EMAIL
RECAPTCHA_SECRET_KEY
HELLOASSO_BASE_URL
HELLOASSO_CLIENT_ID
HELLOASSO_CLIENT_SECRET
HELLOASSO_ORGANIZATION_SLUG
HELLOASSO_MEMBERSHIP_FORM_TYPE
HELLOASSO_MEMBERSHIP_FORM_SLUG